.scenery-container {
	position: relative;
}

.scenery-container > .scenery-element {
	position: absolute;
	bottom: 0;
}

.scenery-container > .scenery-element > .pin {
	position: absolute;
	z-index: 100;

	width: 20px;
	bottom: 102%;
	left: 50%;
	transform: translateX(-50%) translateY(-50px);
	opacity: 0;
	pointer-events: none;

	transition: opacity .4s ease, transform .4s ease;
}

.scenery-container > .scenery-element > .pin > .pin-contents {
	display: none;
}

.scenery-container > .scenery-element > .pin > .pin-image {
	display: block;
	width: 100%;
	height: auto;
}

/**
 * Pin set activation
 * ATTENTION: use special positioning for blocks that have bounce-transition
 */
body[data-active-pin-set="risks-cities"] .scenery-container > .scenery-element > .pin[data-pin-set="risks-cities"] {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
	pointer-events: auto;
}
body[data-active-pin-set="risks-cities"] .scenery-container > .scenery-element.bounce-transition > .pin[data-pin-set="risks-cities"] {
	transform: translateX(-50%) translateY(var(--bounce-transition-security-padding-top));
}

body[data-active-pin-set="risks-businesses"] .scenery-container > .scenery-element > .pin[data-pin-set="risks-businesses"] {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
	pointer-events: auto;
}
body[data-active-pin-set="risks-businesses"] .scenery-container > .scenery-element.bounce-transition > .pin[data-pin-set="risks-businesses"] {
	transform: translateX(-50%) translateY(var(--bounce-transition-security-padding-top));
}

body[data-active-pin-set="oportunities-cities"] .scenery-container > .scenery-element > .pin[data-pin-set="oportunities-cities"] {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
	pointer-events: auto;
}
body[data-active-pin-set="oportunities-cities"] .scenery-container > .scenery-element.bounce-transition > .pin[data-pin-set="oportunities-cities"] {
	transform: translateX(-50%) translateY(var(--bounce-transition-security-padding-top));
}

body[data-active-pin-set="oportunities-businesses"] .scenery-container > .scenery-element > .pin[data-pin-set="oportunities-businesses"] {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
	pointer-events: auto;
}
body[data-active-pin-set="oportunities-businesses"] .scenery-container > .scenery-element.bounce-transition > .pin[data-pin-set="oportunities-businesses"] {
	transform: translateX(-50%) translateY(var(--bounce-transition-security-padding-top));
}
















/**
 * disable interaction for elements that do not correspond to correct
 * happiness-state
 */
.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="happy"],
.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="sad"] {
	pointer-events: none;
}

.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="happy"] > .pin,
.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="sad"] > .pin {
	display: none;
}

/**
 * immediate-transition
 */
.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="sad"].immediate-transition {
	opacity: 1;
}
.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="happy"].immediate-transition {
	opacity: 0;
}
.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="sad"].immediate-transition {
	opacity: 0;
}
.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="happy"].immediate-transition {
	opacity: 1;
}

.scenery-container > .scenery-element.immediate-transition {
/*	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: ease;
*/}


/**
 * opacity-transition 
 */
.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="sad"].opacity-transition {
	opacity: 1;
}
.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="happy"].opacity-transition {
	opacity: 0;
}
.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="sad"].opacity-transition {
	opacity: 0;
}
.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="happy"].opacity-transition {
	opacity: 1;
}

.scenery-container > .scenery-element.opacity-transition {
	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: ease;
}

/**
 * bounce-transition
 */
.scenery-container > .scenery-element.bounce-transition > .image-container {
	overflow: hidden;
	/* secure some space for the bounce effect on the top side */
	padding-top: var(--bounce-transition-security-padding-top);
}
.scenery-container > .scenery-element.bounce-transition > .image-container > img {
	transition-property: transform;
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="sad"].bounce-transition > .image-container > img {
	/* in */
	transform: translateY(0);
	opacity: 1;
}

.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="happy"].bounce-transition > .image-container > img {
	/* out */
	transform: translateY(200px);
	opacity: 1;
}

.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="sad"].bounce-transition > .image-container > img {
	/* out */
	transform: translateY(200px);
	opacity: 1;
}

.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="happy"].bounce-transition > .image-container > img {
	/* in */
	transform: translateY(0);
	opacity: 1;
}

/**
 * slide-up-transition
 */
.scenery-container > .scenery-element.slide-up-transition > .image-container {
	overflow: hidden;
}
.scenery-container > .scenery-element.slide-up-transition > .image-container > img {
	transition-property: transform;
	transition-duration: .6s;
	/*transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
	transition-timing-function: ease;
}

.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="sad"].slide-up-transition > .image-container > img {
	/* in */
	transform: translateY(0);
	opacity: 1;
}

.scenery-container[data-happiness-state="sad"] > .scenery-element[data-happiness-state="happy"].slide-up-transition > .image-container > img {
	/* out */
	transform: translateY(100%);
	opacity: 1;
}

.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="sad"].slide-up-transition > .image-container > img {
	/* out */
	transform: translateY(100%);
	opacity: 1;
}

.scenery-container[data-happiness-state="happy"] > .scenery-element[data-happiness-state="happy"].slide-up-transition > .image-container > img {
	/* in */
	transform: translateY(0);
	opacity: 1;
}

