@keyframes left-to-right-full-width {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw)
  }
}

@keyframes slight-bounce {
  0% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(3%)
  }
}

@keyframes cloud-back-and-forth {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400%)
  }
}
