.enter.delay-enter-0 {
	transition-delay: 0s !important;
}
.enter.delay-enter-50 {
	transition-delay: 50ms !important;
}
.enter.delay-enter-100 {
	transition-delay: 100ms !important;
}
.enter.delay-enter-150 {
	transition-delay: 150ms !important;
}
.enter.delay-enter-200 {
	transition-delay: 200ms !important;
}
.enter.delay-enter-250 {
	transition-delay: 250ms !important;
}
.enter.delay-enter-300 {
	transition-delay: 300ms !important;
}
.enter.delay-enter-350 {
	transition-delay: 350ms !important;
}
.enter.delay-enter-400 {
	transition-delay: 400ms !important;
}
.enter.delay-enter-450 {
	transition-delay: 450ms !important;
}
.enter.delay-enter-500 {
	transition-delay: 500ms !important;
}
.enter.delay-enter-550 {
	transition-delay: 550ms !important;
}
.enter.delay-enter-600 {
	transition-delay: 600ms !important;
}
.enter.delay-enter-650 {
	transition-delay: 650ms !important;
}
.enter.delay-enter-700 {
	transition-delay: 700ms !important;
}
.enter.delay-enter-750 {
	transition-delay: 750ms !important;
}
.enter.delay-enter-800 {
	transition-delay: 800ms !important;
}
.enter.delay-enter-850 {
	transition-delay: 850ms !important;
}
.enter.delay-enter-900 {
	transition-delay: 900ms !important;
}
.enter.delay-enter-950 {
	transition-delay: 950ms !important;
}
.enter.delay-enter-1000 {
	transition-delay: 1000ms !important;
}
.enter.delay-enter-2000 {
	transition-delay: 2000ms !important;
}

.exit.delay-exit-0 {
	transition-delay: 0s !important;
}
.exit.delay-exit-50 {
	transition-delay: 50ms !important;
}
.exit.delay-exit-100 {
	transition-delay: 100ms !important;
}
.exit.delay-exit-150 {
	transition-delay: 150ms !important;
}
.exit.delay-exit-200 {
	transition-delay: 200ms !important;
}
.exit.delay-exit-250 {
	transition-delay: 250ms !important;
}
.exit.delay-exit-300 {
	transition-delay: 300ms !important;
}
.exit.delay-exit-350 {
	transition-delay: 350ms !important;
}
.exit.delay-exit-400 {
	transition-delay: 400ms !important;
}
.exit.delay-exit-450 {
	transition-delay: 450ms !important;
}
.exit.delay-exit-500 {
	transition-delay: 500ms !important;
}
.exit.delay-exit-550 {
	transition-delay: 550ms !important;
}
.exit.delay-exit-600 {
	transition-delay: 600ms !important;
}


.exit.delay-exit-2000 {
	transition-delay: 2000ms !important;
}


