@import './intro.css';
@import './metas-gee-cidades.css';

#slides {
	position: fixed;
	z-index: var(--z-index-content);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#slides > section.slide {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

/**
 * Slide transitions
 */
#slides > section.slide {
	transition-duration: 900ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
	height: 100%;
}

/* slide-up-past-transition */
#slides > section.slide.past {
	opacity: 1;
	transform: translateY(-100%);
	/*transition-timing-function: cubic-bezier(0.63, 0.64, 0.3, 1);*/
}

#slides > section.slide {
	transform: translateY(0%);
}

/* opacity-active-transition */
#slides > section.slide {
	opacity: 0;
}

#slides > section.slide.active {
	transition-delay: 200ms;
	opacity: 1;
}

/**
 * Slide contents
 */
#slides > section.slide > .slide-container {
	padding: 40px;
	box-sizing: border-box;

	color: white;
}

#slides > section.slide .slide-title {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 30px;
}

#slides > section.slide .slide-contents {

}

#slides > section.slide .slide-contents p {
	font-size: 20px;
	margin-bottom: 20px;
}
