@import './moving-elements.css';

#city {
	position: fixed;
	z-index: var(--z-index-city);
	left: 0;
	right: 0;
	bottom: 0;
}

#city .placeholder-image {
	opacity: 0;
}

#city-horizon {
	position: relative;
	z-index: var(--z-index-horizon);

	bottom: -2px;
}

#city-buildings {
	position: relative;

	/* hack! */
	bottom: -20px;

	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#city-river {
	position: relative;
	z-index: var(--z-index-river);
}

#sky {
	position: fixed;
	z-index: var(--z-index-sky);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#sky > div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#sky > div[data-happiness-state="sad"] {
	z-index: 1;
	background-color: #686868;
	background-image: url('resources/animacao/cidade-triste/sky-pattern.png');
}

#sky > div[data-happiness-state="happy"] {
	z-index: 2;
	background-color: #FBFF87;
	background: linear-gradient(-120deg, #D8FFB0 28%, #FBFF87);
}


@media (max-width: 500px) {
	#fixed-elements-container {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
	}

	#city {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 300%;
	}
}
