@import './styles/reset.css';
@import './styles/components/img.css';
@import './styles/components/tooltips.css';
@import './styles/components/scenery-container.css';
@import './styles/components/dialogs.css';

@import './styles/modules/animations.css';
@import './styles/modules/delays.css';

@import './styles/scenery/scenery.css';

/**
 * Slides
 */
@import './styles/slides/slides.css';


@import './styles/dev.css';

:root {
	--z-index-sky: 0;
	--z-index-horizon: 1;
	--z-index-content: 2;
	--z-index-city: 3;
	--z-index-river: 4;
	--z-index-logo: 10;
	--z-index-cdp-dialog: 20;

	--bounce-transition-security-padding-top: 50px;

	--color-cdp: rgb(180, 46, 52);
	--color-cdp-2: rgb(209, 18, 66);
	--color-climate-change: rgb(180, 46, 52);
}

body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;

	overflow: hidden;
}

#logo-cdp {
  display: block;
  position: fixed;
  top: 40px;
  right: 40px;
  width: 100px;
  z-index: var(--z-index-logo);
}
